# **ÖDEV (1.HAFTA)**

1- İki çocuğunun yaşları toplamı 5'tir. 3 yıl sonra babanın yaşı çocukların yaşları toplamının 3 katı olacağına göre babanın bugünkü yaşı kaçtır? 

Denklemi python dilinde kurunuz ve çıktıyı print ediniz.

In [1]:
toplam = 5;
# 3 yıl sonra
toplam += 6 # 2 çocuk 
baba = toplam * 3 # babanın 3 yıl sonraki yaşı
print(baba-3) # 3 yıl önce, yani bugünkü

30

2-_Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir._

Yukarıda yer alan metindeki "veri bilim" kelimelerini bulup yerine "VERİ BİLİM" yazınız.

In [4]:
inp_text = "Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir"
words = inp_text.split()
for idx, word in enumerate(words):
    if "veri" in word.lower():
        if "bilim" in words[idx+1].lower():
            words[idx] = words[idx].lower().replace('veri', 'VERİ')
            words[idx+1] = words[idx+1].lower().replace('bilim', 'BİLİM')
inp_text = ' '.join(words)
print(inp_text)

VERİ BİLİMi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. VERİ BİLİMiyle uğraşan kişilere VERİ BİLİMci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir

3- Adını, soyadını, yaşını, yaşadığın şehri ve üniversite ortalamanı aralarında birer boşluk olacak şekilde tek bir print ifade içerisinde yazın.

In [5]:
print("Alperen Türk 21 İstanbul 3.16")

Alperen Türk 21 İstanbul 3.16

4- Veri bilimi günümüzün en heyecan verici alanlardan biridir.

"Veri bilimi" ve "alanlardan biridir." kelimelerini cümle içerisinden alınız ve her kelimeyi uzunlukları kadar aşağı doğru çoğaltarak print ediniz.

NOT: "\n" ifadesi alt satıra geçer

In [6]:
inp_text = "Veri bilimi günümüzün en heyecan verici alanlardan biridir."
veri_str = inp_text[:inp_text.find("bilimi")+len("bilimi")]
alan_str = inp_text[inp_text.find("alanlardan"):]

for i in range(len(veri_str)):
    print(veri_str)
for i in range(len(alan_str)):
    print(alan_str)

Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.

5- "veri bilimi" ve "VERİ BİLİMİ" kelimelerinden hangisi büyük hangisi küçük harf ile yazılmış kontrol ediniz.  

Not: Hangi fonksiyonu kullanmanız gerektiğini dir() bulabilirsiniz.

In [7]:
low = "veri bilimi"
up = "VERİ BİLİMİ"
if low.isupper():
    print(low + ": büyük harfle yazılmış.")
elif low.islower():
    print(low + ": küçük harfle yazılmış.")
if up.isupper():
    print(up + ": büyük harfle yazılmış.")
elif up.islower():
    print(up + ": küçük harfle yazılmış.")

veri bilimi: küçük harfle yazılmış.
VERİ BİLİMİ: büyük harfle yazılmış.

6- adınız, soyadınız, yaşınız, yaşadğınız şehir ve universite not ortalamanız ile bir liste oluşturunuz. Oluşturduğunuz listeyi "listem" değişkeni olarak kaydedeiniz.

In [8]:
listem = ["Alperen", "Türk", 21, "İstanbul", 3.14]
print(listem)

['Alperen', 'Türk', 21, 'İstanbul', 3.14]

7- "listem" değişkeni içerisinden yaşınızı, yaşadığınız şehiri ve universite not ortalamanızı seçerek "listem2" değişkenini oluşturunuz.

In [9]:
listem2 = [listem[2], listem[3], listem[4]]
print(listem2)

[21, 'İstanbul', 3.14]

8- "listem2" değişkeninin her bir elamanının türlerini yazdırınız.

In [10]:
for el in listem2:
    print(type(el))

<class 'int'>
<class 'str'>
<class 'float'>

9- "listem2" değişkenine aşağıdaki listeyi LİSTE olarak ekleyiniz.

In [11]:
eklenecek_liste = ["Ali", 90, "Mehmet"]
listem2 += eklenecek_liste
print(listem2)

[21, 'İstanbul', 3.14, 'Ali', 90, 'Mehmet']

10- "listem2" değişkeninin içinden "Ali" ve "90" ı seçip Listem3 değişkenine atayınız.

In [12]:
listem3 = [listem2[3], listem2[4]]
print(listem3)

['Ali', 90]

11- "listem2" değişkenine Listem3 değişkenini ELEMAN olarak ekleyiniz.

In [13]:
listem2.append(listem3)
print(listem2)

[21, 'İstanbul', 3.14, 'Ali', 90, 'Mehmet', ['Ali', 90]]

12- "listem2" içerisinden 90 elemanını siliniz.

In [14]:
del listem2[4]
print(listem2)

[21, 'İstanbul', 3.14, 'Ali', 'Mehmet', ['Ali', 90]]

13- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir liste oluşturunuz. "yeni_liste" değişkenine atayınız.

In [15]:
yeni_liste = []
for i in range(10,0,-1):
    yeni_liste.append(i)
print(yeni_liste)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

14- "yeni_liste" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [16]:
print("7'nin konumu:"+str(yeni_liste.index(7)))
print("2'nin konumu:"+str(yeni_liste.index(2)))

7'nin konumu:3
2'nin konumu:8

15- "listem2" üzerinden tuple oluşturunuz ve "tuple1" adını veriniz

In [20]:
tuple1 = tuple(listem2)
print(tuple1)

(21, 'İstanbul', 3.14, 'Ali', 'Mehmet', ['Ali', 90])

16- "tuple1" değişkeni içerisindeki "Ali" yerine "Veli" yazınız.

In [21]:
temp = list(tuple1)  
temp[temp.index('Ali')] = "Veli"
tuple1 = tuple(temp)
print(tuple1)

(21, 'İstanbul', 3.14, 'Veli', 'Mehmet', ['Ali', 90])

17- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir tuple oluşturunuz. "yeni_tuple" değişkenine atayınız. (NOT: methodu siz bulacaksınız)

In [22]:
yeni_tuple = (tuple(range(10,0,-1)))
print(yeni_tuple)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

18- "yeni_tuple" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [23]:
print("7'nin konumu:"+str(yeni_tuple.index(7)))
print("2'nin konumu:"+str(yeni_tuple.index(2)))

7'nin konumu:3
2'nin konumu:8

19- Aşağıda yer alan dictionary'nin içinden REG'in RMSE değerini, LOG'un MSE değerini ve CART'ın SSE değerini ayrı ayrı çekip yeni bir SET oluşturunuz.

In [24]:
dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]} # değerleri sorulmuş fakat dictionarydeki her keyin itemı bir liste ve bu istenen değerler de listenin 0. elemanı
new_set = set()
for key, values in dictionary.items():
    new_set.add(values[0])
print(new_set)

{'SSE', 'MSE', 'RMSE'}

20- CART değerini ["SSE", 30] olarak değiştiriniz.

In [25]:
dictionary["CART"] = ["SSE", 30]
print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30]}

21- Sözlüğe yeni bir "RF" key değeri ekleyerek value'sunu ["SSE", 50] olarak tanımlayınız.

In [26]:
dictionary["RF"] = ["SSE", 50]
print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30], 'RF': ['SSE', 50]}

22- Aşağıda yer alan listeyi SET'e çeviriniz, "set1" adını veriniz ve içindeki eleman sayısını söyleyiniz.

In [28]:
liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]
set1 = set(liste1)
print(set1)
print(len(set1))

{'Mehmet', 'Ali', 10, 20, 'Ayşe'}
5

23- "set1" kümesinin içinden 5. eleman ile 7. elemanı çekiniz.

In [31]:
print(list(set1)[4])
#7. eleman yoktur

Ayşe

24- "set1" kümesinde yer alan "Ali" yerine "Veli" ve 10 yerini "40" değerlerini ekleyiniz.

In [32]:
set1.discard("Ali")
set1.add("Veli")
set1.discard(10)
set1.add("40")
print(set1)

{'Mehmet', 'Veli', '40', 20, 'Ayşe'}

25- **ZOR SORU** aşağıda yer alan kümeler için soruları cevaplayınız. (Küme methodları kullanılabilir.)

In [33]:
set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

25.1- set1'de olup set2'de olmayanlar hangileridir? (difference())

In [34]:
print(set1.difference(set2))

{5}

25.2- set2'de olup set1'de olmayanlar hangileridir? (difference())

In [35]:
print(set2.difference(set1))

{2}

25.3- İki kümede de birbirlerine göre olmayanlar hangileridir? (symmetric_difference())

In [36]:
print(set1.symmetric_difference(set2))

{2, 5}

25.4- İki kümenin kesişimi nedir? (intersection())

In [37]:
print(set1.intersection(set2))

{1, 3}

25.5- İki kümenin birleşimi nedir? (union())

In [38]:
print(set1.union(set2))

{1, 2, 3, 5}

25.6- İki kümenin kesişimi boş mudur? (isdisjoint())

In [39]:
print(set1.isdisjoint(set2))

False

25.7- Bir küme diğer kümenin alt kümesi midir? (issubset())

In [40]:
print(set1.isdisjoint(set2))

False

25.8- Bir küme diğer kümeyi kapsıyor mudur? (isdisjoint())

In [41]:
print(set1.isdisjoint(set2))

False

In [42]:
maaslar = [1000,2000,3000,4000,5000]

26- Maaslara yuzde 20 zam yaparak zamlı_maaslar listesine atayınız. (Function, For kullanarak)

In [43]:
def zam(maaslar):
    zamli_maaslar = []
    for maas in maaslar:
        zamli_maaslar.append(maas*120/100)
    return zamli_maaslar
zamli_maaslar = zam(maaslar)
print(zamli_maaslar)

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

27- zamlı_maaslar listesinden 2500 TL altındakileriden 50 TL vergi; 2500 TL  üzerindekilerden 100 TL vergi kesiniz. (Function, For, If kullanarak)

In [44]:
def vergi(zamli_maaslar):
    vergi_kesilmis_maaslar = []
    for maas in zamli_maaslar:
        if maas < 2500:
            vergi_kesilmis_maaslar.append(maas - 50)
        else:
            vergi_kesilmis_maaslar.append(maas - 100)
    return vergi_kesilmis_maaslar
vergiden_sonraki_maaslar = vergi(zamli_maaslar)
print(vergiden_sonraki_maaslar)

[1150.0, 2350.0, 3500.0, 4700.0, 5900.0]

In [45]:
students = ["John", "Mark", "Venessa", "Mariam"]

28- Listedeki öğrencileri index numaralarına göre iki gruba tek bir listede return edecek bir fonksiyonla yapınız.

In [46]:
def idx_func(students):
    list_1 = []
    list_2 = []
    for idx, student in enumerate(students):
        if idx % 2 == 0:
            list_1.append(student)
        else:
            list_2.append(student)
    return list(zip(list_1, list_2))
print(idx_func(students))

[('John', 'Mark'), ('Venessa', 'Mariam')]

29- Aşağıdaki şekilde string'i değiştirecek bir fonksiyon yazınız.

    before: "hi my name is john and i am learning python"

    after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

In [47]:
def string_changer(string):
    new_str = ""
    for idx, char in enumerate(string):
        if idx % 2 == 0:
            new_str += char.upper()
        else:
            new_str += char.lower()
    return new_str
print(string_changer("hi my name is john and i am learning python"))

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [48]:
def alternating(string):
    new_string = ""

    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

30- Yukarıda yer alan fonksiyonu enumerate kullanarak yeniden yazınız.

In [49]:
def alternating(string):
    new_string = ""

    for idx, char in enumerate(string):
        if idx % 2 == 0:
            new_string += char.upper()
        else:
            new_string += char.lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

31-Kullanıcıdan ismini ve yasını alacak bir fonksiyon olusturunuz. 
Fonksiyon çıktısı aşağıdaki şekilde olmalı:

    Merhaba benim ismim X,
    Y yasındayım!

In [50]:
def user_inp():
    isim = input("ismin:")
    yas = input("yas:")
    print("Merhaba benim ismim "+isim+",\n"+yas+" yasındayım!")
user_inp()

ismin: Alperen
yas: 21

Merhaba benim ismim Alperen,
21 yasındayım!