# **ÖDEV-2**

1-Pandas kütüphanesini import ediniz.

In [1]:
import pandas as pd

2-Ekte yer alan drinks.csv datasını bir DataFrame olarak kaydediniz.

In [2]:
df = pd.read_csv("drinks.csv", sep = ",")

3-İlk 5 Satırını görüntüleyiniz.

In [4]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

4-Son 5 Satırını görüntüleyiniz.

In [5]:
df.tail(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

5-Hangi ülkedekiler daha fazla bira içiyor ortalamada gösteriniz.

In [12]:
df["beer_servings"].mean() 
#soruyu tam olarak anlamadım ortalamayı mı istiyor yoksa sıralamayı mı?

106.16062176165804

6-Her kıta için şarap tüketiminin betimsel istatiğini yapınız.

In [11]:
df.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

7-Her kıta için ve her alkol cinsi için ortalama alkol tüketimini gösteriniz.

In [3]:
df.groupby(["continent"])[["wine_servings", "spirit_servings", "beer_servings"]].mean()

           wine_servings  spirit_servings  beer_servings
continent
AF             16.264151        16.339623      61.471698
AS              9.068182        60.840909      37.045455
EU            142.222222       132.555556     193.777778
OC             35.625000        58.437500      89.687500
SA             62.416667       114.750000     175.083333

8-Her kıta için ve aşağıdaki alkol cinsleri için belirtilen hesaplamaları gerçekleştiriniz.

beer_servings - std
spirit_servings - median 
wine_servings - min, mean, max
total_litres_of_pure_alcohol - mean, count

In [36]:
print(df.groupby("continent")["beer_servings"].std())
print(df.groupby("continent")["spirit_servings"].median())
print(df.groupby("continent")["wine_servings"].min(), df.groupby("continent")["wine_servings"].mean(), df.groupby("continent")["wine_servings"].max())
print(df.groupby("continent")["total_litres_of_pure_alcohol"].mean(), df.groupby("continent")["total_litres_of_pure_alcohol"].count())

continent
AF    80.557816
AS    49.469725
EU    99.631569
OC    96.641412
SA    65.242845
Name: beer_servings, dtype: float64
continent
AF      3.0
AS     16.0
EU    122.0
OC     37.0
SA    108.5
Name: spirit_servings, dtype: float64
continent
AF    0
AS    0
EU    0
OC    0
SA    1
Name: wine_servings, dtype: int64 continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64 continent
AF    233
AS    123
EU    370
OC    212
SA    221
Name: wine_servings, dtype: int64
continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64 continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: total_litres_of_pure_alcohol, dtype: int64

9- Her alkol cinsinin en çok tüketildiği ülkeyi bulun.

In [4]:
print(df.iloc[df[["wine_servings", "spirit_servings", "beer_servings"]].idxmax()]["country"])

61      France
68     Grenada
117    Namibia
Name: country, dtype: object

10- Yeni değişkenler üreterek her alkol cincisin ilgili ülkedeki toplam alkol tüketimi içerisindeki oranlarını yazdırınız.

In [13]:

df["beer_to_total"] =  (df["beer_servings"] / df[["beer_servings", "spirit_servings","wine_servings"]].sum(axis=1))
df["spirit_to_total"] =  (df["spirit_servings"] / df[["beer_servings", "spirit_servings","wine_servings"]].sum(axis=1))
df["wine_to_total"] =  (df["wine_servings"] / df[["beer_servings", "spirit_servings","wine_servings"]].sum(axis=1))

df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,beer_to_total,spirit_to_total,wine_to_total
0,Afghanistan,0,0,0,0.0,AS,NaN,NaN,NaN
1,Albania,89,132,54,4.9,EU,0.323636,0.480000,0.196364
2,Algeria,25,0,14,0.7,AF,0.641026,0.000000,0.358974
3,Andorra,245,138,312,12.4,EU,0.352518,0.198561,0.448921
4,Angola,217,57,45,5.9,AF,0.680251,0.178683,0.141066